.btn-pink {
  background-color: #f78fb3;
  color: white;
  border: 1px solid transparent;
}

.btn-pink:hover {
  background-color: #f368e0;
  color: white;
}

.btn-outline-pink {
  background-color: transparent;
  color: #f78fb3;
  border: 1px solid #f78fb3;
}

.btn-outline-pink:hover {
  background-color: #f78fb3;
  color: white;
}


.btn-brown {
  background-color: #8B4513;
  color: white;
  border: 1px solid transparent;
}

.btn-brown:hover {
  background-color: #9e511b;
  color: white;
}

.btn-outline-brown {
  background-color: transparent;
  color: #9e511b;
  border: 1px solid #8B4513;
}

.btn-outline-brown:hover {
  background-color: #8B4513;
  color: white;
}

.btn-purple {
  background-color: #6f42c1;
  color: white;
  border: 1px solid transparent;
}

.btn-purple:hover {
  background-color: #5a32a3;
  color: white;
}

.btn-outline-purple {
  background-color: transparent;
  color: #5a32a3;
  border: 1px solid #6f42c1;
}

.btn-outline-purple:hover {
  background-color: #6f42c1;
  color: white;
}

.btn-grey {
  background-color: #b8b8d0; /* gris con un toque lila, como el tipo Steel */
  color: white;
  border: 1px solid transparent;
}

.btn-grey:hover {
  background-color: #a8a8c0;
  color: white;
}

.btn-outline-grey {
  background-color: transparent;
  color: #b8b8d0;
  border: 1px solid #b8b8d0;
}

.btn-outline-grey:hover {
  background-color: #b8b8d0;
  color: white;
}




.card {
  border-radius: 1rem;
  transition: transform 0.2s ;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.badge {
  font-size: 1em;
  padding:0.2 1em;
  border-radius: 1rem;
}

.list-group-item {
  border: none;
  padding:0.2 1em;
}



.tipo-container input[type="radio"] {
  display: none;
}

.tipo-container label {
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.tipo-container label img {
  width: 50px; /* Ajusta el tamaño según sea necesario */
  height: 50px;
  display: block;
  margin: 0 auto;
}

.tipo-container input[type="radio"]:checked + label {
  border: 2px solid #000; /* Indica la selección */
}

.tipo-btn {
  padding: 0;
  margin: 0;
  border: none;
  display: inline-block;
  line-height: 0;
  cursor: pointer;
}

.tipo-btn img {
  display: block;
  width: 96px; /* ajusta este valor para hacerla más grande o más pequeña */
  height: auto;
}


.btn-check:checked + .tipo-btn img {
  outline: 4px solid #0d6efd;
  outline-offset: -4px;
}

.btn-check:disabled + .tipo-btn {
  opacity: 0.3;
  pointer-events: none;
}

.masterball-btn {
  display: inline-block;
  width: 64px;
  height: 64px;
  padding: 6px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.masterball-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

/* Activo (cuando el checkbox está marcado) */
.btn-check:checked + .masterball-btn {
  border-color: #b25aff;
  box-shadow: 0 0 10px #b25aff;
}


.mitico-btn {
  display: inline-block;
  width: 64px;
  height: 64px;
  padding: 6px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.mitico-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

/* Activo (cuando el checkbox está marcado) */
.btn-check:checked + .mitico-btn {
  border-color: #ff69b4; /* Rosa brillante */
  box-shadow: 0 0 10px #ff69b4;
}

.shiny-btn {
  display: inline-block;
  width: 64px;
  height: 64px;
  padding: 6px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.shiny-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

/* Brillo al seleccionar */
.btn-check:checked + .shiny-btn {
  border-color: gold;
  box-shadow: 0 0 10px gold;
}
